@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
}

.field {
  margin: auto;
  width: 250px;
  height: 150px;
  border: 10px solid black;
  background-color: greenyellow;

  cursor: pointer;
}

.ball {
  position: relative;
  top: 20px;
  left: 50px;
  transition: top 0.5s, left 0.5s;
}
